'menu': [
  {
    'label': 'Particle',
    'submenu': []
  }
],
'context-menu':
  '.tree-view.full-menu [is="tree-view-file"] [data-name$=".bin"]': [
    {'label': 'Flash this file OTA', 'command': 'particle-dev:flash-cloud-file'}
  ]
