'.platform-darwin':
  'cmd-u': 'spark-ide:flash-cloud'
  'cmd-r': 'spark-ide:compile-cloud'
  'cmd-shift-m': 'spark-ide:show-serial-monitor'

'.platform-win32, .platform-linux':
  'ctrl-u': 'spark-ide:flash-cloud'
  'ctrl-r': 'spark-ide:compile-cloud'
  'ctrl-shift-m': 'spark-ide:show-serial-monitor'
