// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "progress";
@import "octicons";

#spark-ide-status-bar-view {
  margin-right: 10px;

  > span {
    margin-left: 10px;

    &:first-child {
      margin-left: 5px;
    }
  }

  #spark-icon {
    width: 16px;
    height: 16px;
    margin-top: -2px;
  }

  #spark-current-core {
    &:before {
      .core-dot();
      content: " ";
      margin-right: 5px;
      margin-bottom: -1px;
    }

    &.online:before {
      .breathing-cyan();
    }

    &.core-online {
      &:before {
        .breathing-cyan();
      }
    }
  }

  #spark-compile-status {
    #spark-compile-working .loading {
      width: 16px;
      height: 16px;
      margin-top: -2px;
      margin-right: 5px;
      vertical-align: middle;
      display: inline-block;
    }

    #spark-compile-failed {
      color: @text-color-error;

      &:before {
        margin-right: 5px;
        top: 0;
      }
    }
  }

  a:hover {
    text-decoration: none;
  }
}

#spark-ide-login-view {
  width: 410px;
  margin-left: -205px;

  .btn {
    margin-right: 10px;
  }

  .hidden {
    visibility: hidden;
  }

  a {
    line-height: 27px;
  }
}

.editor.editor-error {
  border-color: @background-color-error;

  .lines {
    color: @text-color-error;
  }
}


/* Flashing core dot */
@-webkit-keyframes breathingCyan {
	0% { background-color: rgba(0, 255, 255, 1); }
	50% { background-color: rgba(0, 255, 255, 0); }
  100% { background-color: rgba(0, 255, 255, 1); }
}

.core-dot {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: @text-color-subtle;
  display: inline-block;
}

.breathing-cyan {
  -webkit-animation: breathingCyan 4s ease-in-out infinite;
}

.core-line .primary-line {
  &:before {
    .core-dot();
    content: " ";
    margin-right: 10px;
  }

  &.core-online {
    &:before {
      .breathing-cyan();
    }
  }
}

/* Dialog */
.spark-ide-dialog {
  .editor.loading:after {
    .loading-spinner-tiny();

    content: " ";
    display: inline-block;
    margin-top: 2px;
    margin-right: 2px;
  }
}
