// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

#spark-ide-status-bar-view {
  margin-right: 10px;

  #spark-icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }

  #spark-current-core {
    margin-left: 10px;
  }

  a:hover {
    text-decoration: none;
  }
}

#spark-ide-login-view {
  width: 410px;
  margin-left: -205px;

  .btn {
    margin-right: 10px;
  }

  .hidden {
    visibility: hidden;
  }

  a {
    line-height: 27px;
  }
}

.editor.mini.editor-error {
  border-color: @background-color-error;

  .lines {
    color: @text-color-error;
  }
}

@-webkit-keyframes breathingCyan {
	0% { background-color: rgba(0, 255, 255, 1); }
	50% { background-color: rgba(0, 255, 255, 0); }
  100% { background-color: rgba(0, 255, 255, 1); }
}

.core-dot {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: @text-color-subtle;
  display: inline-block;

  &.breathing-cyan {
    -webkit-animation: breathingCyan 4s ease-in-out infinite;
  }
}
